.navigation ul li:not(:last-child)::after {
  content: " |";
}

.navigation ul li {
  float: left;
  margin: 20px 5px;
}

@media (max-width : 1366px) {
  #container {
    width: 1366px;
  }
}

@media (max-width : 1300px) {
  #container {
    width: 1300px;
  }
}

@media (max-width : 992px) {
  #container {
    width: 992px;
  }
}

