.header {
  width: 100%;
  text-align: center;
}

.navigation ul li{
  padding: 10px;
  background-color: #ededed;
  margin: 5px;
  text-align: center;
  width: 100%;
}

.navigation .current { 
  background-color: gray;
}


.navigation, .main-section, .sub-section-center, .sub-section-right {
  float: left;
  width: 100%;
}

.header, .navigation {
  text-align: center;
}

.sub-sub-sub-section{
    padding-bottom:40px;
}

@media (min-width: 320px) {
  #container {
    width: 320px;
  }
}

@media (min-width: 360px) {
  #container {
    width: 360px;
  }
}

@media (min-width: 768px) {
  #container {
    width: 768px;
  }
}

@media (min-width: 800px) {
  #container {
    width: 800px;
  }
}

@media (min-width: 980px) {
  #container {
    width: 980px;
  }
}

