@media print {

    .img-main,.img-center,.img-right, nav {
        display: none !important; 
        height: 0;
    }
 
    .content-container-main {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .main-section,.sub-section-center,.sub-section-right{
        width: 100%;
        position: static;
    }

    .boxmodel {
        background-color: white;
        border: none;
    }
}