h1 {
	color: black;
	margin-top: 5px;
	margin-bottom: 10px;
}

h2 {
	color: black;
	font-size: 150%;
	padding: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	color: blue;
	font-size: 120%;
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 {
	color: green;
	font-size: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

h5 {
	color: red;
	font-size: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}

hr {
	border-top: 1px solid black;
}

p {
	text-align: justify;
	margin-bottom: 10px;	
}

html,body {
    position: relative;
    height: 100%;
}

footer {
	position: fixed;
	bottom: 0px;
   	width: 100%;
   	background: #00FF00; 
	text-align: center;
}

footer p {
	text-align: center;}

img {
	margin-top: 5px;
	margin-bottom: 10px;
}

a:active{
	color: black;
	font-family: bold;
}


.current a, .current { color: black; text-decoration: none; font-weight: bold;}



.header {
	float: left;
}

.navigation {
	float: right;
}


.navigation ul li:not(:last-child)::after {
  content: " |";
}

.navigation ul li {
	float: left;
}

.navigation ul li{
	margin: 20px 5px;
}

#container {
	width: 100%;
	margin: 0 auto;
}

#content-container-main {
	width: 98%;
}

.main-section {
	float: left;
	width: 36%;
	padding-bottom:40px;
}

.sub-section-center {
	float: left;
	width: 32%;
	padding-bottom:40px;
}

.sub-section-right {
	float: left;
	width: 32%;
	margin-bottom: 60px;
	padding-bottom:40px;
}

.content-container {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.span {
	font-weight: bold
	color: black;
}

.spanred {
	color: red;
}

.img-main {
	width: 100%;
	height: 340px;
}

.img-center {
	width: 100%;
}

.img-right {
	width: 100%;
}

.boxmodel {
	width: 100%;
	height: 40px;
    border: 2px solid black;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #FF7F50;	
}



